<h1>Profiling a country specific unemployment dataset for Canada, creating an reasonable binary classification threshold, and running classifcation models<h1>
<h3>Logistic regression may be a reasonable choice of model based on comparison of different modeling options</h3>

In [1]:
from pycaret.classification import *

In [2]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [3]:
df2 = pd.read_csv("https://raw.githubusercontent.com/rmikula-gmu/cs504_test1_medium_tutorial/main/CS504%20Final%20Datasets%20Revised/US%20Master%20Dataset.csv")

In [4]:
df2

,Date,Country,State,Initial Claims,Avg Insured Unemployment Rate,Monthly new case,Civilian noninstitutional population,Avg Employed Percent of Population,Employed Total,Avg Percent of Population,Avg Unemployed Percent of Labor Force,Unemployed Total
0,1/1/2020,United States,Alabama,"12,819",0.98,0,"3,876,526",56.3,"2,180,872",57.8,2.7,"59,405"
1,1/1/2020,United States,Alaska,"4,536",3.17,0,"546,109",61.5,"335,692",64.7,5.0,"17,657"
2,1/1/2020,United States,Arizona,"15,413",0.64,1,"5,802,213",58.8,"3,409,624",61.7,4.8,"171,670"
3,1/1/2020,United States,Arkansas,"8,481",1.18,0,"2,353,674",56.2,"1,322,159",58.3,3.7,"50,132"
4,1/1/2020,United States,California,"199,167",2.07,0,"39,118,595",60.2,"23,556,224",63.0,4.4,"1,073,820"
...,...,...,...,...,...,...,...,...,...,...,...,...
1066,9/1/2021,United States,Virginia,"34,680",1.18,"99,486","6,758,326",60.4,"4,084,410",62.8,3.8,"159,786"
1067,9/1/2021,United States,Washington,"20,597",2.01,"94,585","6,181,559",60.6,"3,742,966",63.7,4.9,"193,976"
1068,9/1/2021,United States,West Virginia,"3,813",1.37,"50,769","1,435,988",52.6,"755,769",55.1,4.6,"36,028"
1069,9/1/2021,United States,Wisconsin,"26,324",1.45,"76,224","4,677,059",64.0,"2,993,017",66.6,3.9,"121,372"
1070,9/1/2021,United States,Wyoming,"1,189",0.59,"15,466","458,391",61.2,"280,427",64.1,4.5,"13,227"

In [5]:
df2.shape

(1071, 12)

<h3>Using an assumption for now that a NaN represents a lack of unemployment applications and benefits processed, so zero may be appropriate</h3>
<h3>However, some missing data still identified via the profile report below</h3>

In [6]:
df2.fillna('0')

,Date,Country,State,Initial Claims,Avg Insured Unemployment Rate,Monthly new case,Civilian noninstitutional population,Avg Employed Percent of Population,Employed Total,Avg Percent of Population,Avg Unemployed Percent of Labor Force,Unemployed Total
0,1/1/2020,United States,Alabama,"12,819",0.98,0,"3,876,526",56.3,"2,180,872",57.8,2.7,"59,405"
1,1/1/2020,United States,Alaska,"4,536",3.17,0,"546,109",61.5,"335,692",64.7,5.0,"17,657"
2,1/1/2020,United States,Arizona,"15,413",0.64,1,"5,802,213",58.8,"3,409,624",61.7,4.8,"171,670"
3,1/1/2020,United States,Arkansas,"8,481",1.18,0,"2,353,674",56.2,"1,322,159",58.3,3.7,"50,132"
4,1/1/2020,United States,California,"199,167",2.07,0,"39,118,595",60.2,"23,556,224",63.0,4.4,"1,073,820"
...,...,...,...,...,...,...,...,...,...,...,...,...
1066,9/1/2021,United States,Virginia,"34,680",1.18,"99,486","6,758,326",60.4,"4,084,410",62.8,3.8,"159,786"
1067,9/1/2021,United States,Washington,"20,597",2.01,"94,585","6,181,559",60.6,"3,742,966",63.7,4.9,"193,976"
1068,9/1/2021,United States,West Virginia,"3,813",1.37,"50,769","1,435,988",52.6,"755,769",55.1,4.6,"36,028"
1069,9/1/2021,United States,Wisconsin,"26,324",1.45,"76,224","4,677,059",64.0,"2,993,017",66.6,3.9,"121,372"
1070,9/1/2021,United States,Wyoming,"1,189",0.59,"15,466","458,391",61.2,"280,427",64.1,4.5,"13,227"

In [ ]:
profile = ProfileReport(df2, title="US Unemployment")
profile

In [ ]:
profile.to_file("US_Unemployment.html")

In [7]:
df2["Avg Percent of Population"]

0       57.8
1       64.7
2       61.7
3       58.3
4       63.0
        ...
1066    62.8
1067    63.7
1068    55.1
1069    66.6
1070    64.1
Name: Avg Percent of Population, Length: 1071, dtype: float64

<h3>Use a classification binary cutoff based on Average Employed Rate</h3>

In [8]:
#https://www.geeksforgeeks.org/ways-to-apply-an-if-condition-in-pandas-dataframe/

df2.loc[df2["Avg Percent of Population"] >= 62, 'HighEmp'] = 'True'
df2.loc[df2["Avg Percent of Population"] < 62, 'HighEmp'] = 'False'
df2

,Date,Country,State,Initial Claims,Avg Insured Unemployment Rate,Monthly new case,Civilian noninstitutional population,Avg Employed Percent of Population,Employed Total,Avg Percent of Population,Avg Unemployed Percent of Labor Force,Unemployed Total,HighEmp
0,1/1/2020,United States,Alabama,"12,819",0.98,0,"3,876,526",56.3,"2,180,872",57.8,2.7,"59,405",False
1,1/1/2020,United States,Alaska,"4,536",3.17,0,"546,109",61.5,"335,692",64.7,5.0,"17,657",True
2,1/1/2020,United States,Arizona,"15,413",0.64,1,"5,802,213",58.8,"3,409,624",61.7,4.8,"171,670",False
3,1/1/2020,United States,Arkansas,"8,481",1.18,0,"2,353,674",56.2,"1,322,159",58.3,3.7,"50,132",False
4,1/1/2020,United States,California,"199,167",2.07,0,"39,118,595",60.2,"23,556,224",63.0,4.4,"1,073,820",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,9/1/2021,United States,Virginia,"34,680",1.18,"99,486","6,758,326",60.4,"4,084,410",62.8,3.8,"159,786",True
1067,9/1/2021,United States,Washington,"20,597",2.01,"94,585","6,181,559",60.6,"3,742,966",63.7,4.9,"193,976",True
1068,9/1/2021,United States,West Virginia,"3,813",1.37,"50,769","1,435,988",52.6,"755,769",55.1,4.6,"36,028",False
1069,9/1/2021,United States,Wisconsin,"26,324",1.45,"76,224","4,677,059",64.0,"2,993,017",66.6,3.9,"121,372",True
1070,9/1/2021,United States,Wyoming,"1,189",0.59,"15,466","458,391",61.2,"280,427",64.1,4.5,"13,227",True

In [9]:
df2["HighEmp"].describe()

count     1071
unique       2
top       True
freq       566
Name: HighEmp, dtype: object

In [10]:
from pycaret.classification import *

In [11]:
#Best to use datetime.strptime here
train=df2[1:714]
test=df2[715:]
train

,Date,Country,State,Initial Claims,Avg Insured Unemployment Rate,Monthly new case,Civilian noninstitutional population,Avg Employed Percent of Population,Employed Total,Avg Percent of Population,Avg Unemployed Percent of Labor Force,Unemployed Total,HighEmp
1,1/1/2020,United States,Alaska,"4,536",3.17,0,"546,109",61.5,"335,692",64.7,5.0,"17,657",True
2,1/1/2020,United States,Arizona,"15,413",0.64,1,"5,802,213",58.8,"3,409,624",61.7,4.8,"171,670",False
3,1/1/2020,United States,Arkansas,"8,481",1.18,0,"2,353,674",56.2,"1,322,159",58.3,3.7,"50,132",False
4,1/1/2020,United States,California,"199,167",2.07,0,"39,118,595",60.2,"23,556,224",63.0,4.4,"1,073,820",True
5,1/1/2020,United States,Colorado,"10,118",0.82,0,"4,584,112",67.0,"3,070,164",68.8,2.7,"84,380",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,2/1/2021,United States,Virginia,"53,203",1.75,"69,534","6,740,927",59.6,"4,016,894",62.8,5.2,"219,727",True
710,2/1/2021,United States,Washington,"58,545",4.43,"27,424","6,140,754",59.0,"3,621,472",62.5,5.6,"215,552",True
711,2/1/2021,United States,West Virginia,"15,812",3.49,"10,854","1,439,233",51.9,"746,406",55.3,6.2,"49,663",False
712,2/1/2021,United States,Wisconsin,"60,850",3.80,"25,227","4,665,137",63.1,"2,942,857",65.6,3.8,"116,563",True
713,2/1/2021,United States,Wyoming,"3,845",2.17,"2,482","456,315",61.3,"279,794",64.7,5.3,"15,591",True

In [12]:
s = setup(data = train, test_data = test, ignore_features=['Avg Percent of Population'],
          target = 'HighEmp', fold_strategy = 'timeseries', fold = 3, session_id = 124)

In [ ]:
#https://towardsdatascience.com/time-series-forecasting-with-pycaret-regression-module-237b703a0c63
best = compare_models()

In [ ]:
lr=create_model("lr")
prediction_holdout = predict_model(lr)

INFO:logs:Initializing create_model()
INFO:logs:create_model(estimator=lr, fold=None, round=4, cross_validation=True, predict=True, fit_kwargs=None, groups=None, refit=True, verbose=True, system=True, metrics=None, add_to_model_list=True, display=None, kwargs={})
INFO:logs:Checking exceptions
INFO:logs:Preparing display monitor

IntProgress(value=0, description='Processing: ', max=4)

Initiated  . . . . . . . . . . . . . . . . . .             23:33:30
Status     . . . . . . . . . . . . . . . . . .     Finalizing Model
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

Empty DataFrame
Columns: [Accuracy, AUC, Recall, Prec., F1, Kappa, MCC]
Index: []

INFO:logs:Importing libraries
INFO:logs:Copying training dataset
INFO:logs:Defining folds
INFO:logs:Declaring metric variables
INFO:logs:Importing untrained model
INFO:logs:Logistic Regression Imported succesfully
INFO:logs:Starting cross validation
INFO:logs:Cross validating with TimeSeriesSplit(max_train_size=None, n_splits=3), n_jobs=-1
INFO:logs:Calculating mean and std
INFO:logs:Creating metrics dataframe
INFO:logs:Finalizing model

<h3>About 79% accuracy on training data, 89% accuracy on test</h3>

In [14]:
%matplotlib inline
evaluate_model(lr)

NameError: name 'lr' is not defined

In [ ]:
#prediction_holdout = predict_model(best);

In [ ]:
#TO DO Debug the tuning command tuned_knn = tune_model('knn')